apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx
spec:
  project: default
  source:
    path: manifests/namespaced/kustomization/demo/nginx
    repoURL: 'https://github.com/aibazhang/spbro'
    targetRevision: master
  destination:
    namespace: demo
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
