apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
spec:
  project: default
  sources:
  - repoURL: 'https://prometheus-community.github.io/helm-charts'
    chart: prometheus
    targetRevision: 27.50.1
    helm:
      valueFiles:
      - $values/infra/prometheus/values.yaml
  - repoURL: 'https://github.com/aibazhang/spbro'
    targetRevision: master
    ref: values
  destination:
    namespace: prometheus
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      allowEmpty: true
      selfHeal: true
