apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
spec:
  project: default
  source:
    path: manifests/argocd
    repoURL: 'https://github.com/aibazhang/spbro'
    targetRevision: master
  destination:
    namespace: argocd
    server: 'https://kubernetes.default.svc'
